In [12]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.preprocessing import LabelEncoder
labelencoder = LabelEncoder()

In [3]:
df = pd.read_csv('nations.csv', index_col=0, encoding= 'iso-8859-1')

In [10]:
df.head(100)

,country,region,gdp,school,adfert,chldmort,life,pop,urban,femlab,literacy,co2,gini
1,Algeria,Africa,7300.399902,6.716667,7.300000,34.75,72.316666,34172236,64.933334,0.4522,72.599998,15.000000,NaN
2,Benin,Africa,1338.800049,3.100000,111.699997,122.75,54.733334,8237634,41.000000,0.8482,41.700001,1.200000,NaN
3,Botswana,Africa,12307.400391,8.600000,52.099998,60.25,52.250000,1941233,59.250000,0.8870,84.099998,9.200000,NaN
4,Burkina Faso,Africa,1063.400024,1.300000,124.800003,170.50,53.783333,15308383,23.583334,0.8584,23.600000,0.200000,NaN
5,Burundi,Africa,349.200012,2.483333,18.600000,168.50,48.866665,7821783,10.250000,1.0344,66.599998,0.100000,33.299999
...,...,...,...,...,...,...,...,...,...,...,...,...,...
96,China,Asia,5175.399902,7.316667,8.400000,21.75,72.683334,1324696064,44.816666,0.8470,94.000000,16.299999,41.500000
97,Cyprus,Asia,25403.199219,9.366667,6.600000,4.25,78.983330,1069167,69.866669,0.7602,97.900002,33.349998,NaN
98,Georgia,Asia,4157.200195,12.100000,44.700001,30.25,73.133331,4409267,52.599998,0.7528,99.699997,4.250000,41.299999
99,"Hong Kong, China",Asia,38669.800781,9.716666,3.200000,NaN,81.699997,6913884,100.000000,0.7412,NaN,20.750000,NaN
100,India,Asia,2647.800049,4.183333,86.300003,70.50,64.199997,1182378496,29.333334,0.4026,62.799999,4.700000,36.799999

In [13]:
df['region_new']= labelencoder.fit_transform(df['region'])

In [16]:
df.region.value_counts()

Africa      52
Asia        49
Europe      43
Americas    35
Oceania     15
Name: region, dtype: int64

In [15]:
df.region_new.value_counts()

0    52
2    49
3    43
1    35
4    15
Name: region_new, dtype: int64

In [19]:
import statsmodels.api as sm